Flask
shiftlab_ocr
paddleocr
paddlepaddle==2.5.1 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
gradio
hugchat
textract
python-magic
pytest
matplotlib
numpy
seaborn
pdf2image
markdown2
transformers
torchvision
torchaudio
sentencepiece  # обязательно!
transliterate
python-doctr[torch,viz]